@charset "UTF-8";
/* 전체 선택자 : 페이지내의 모든 요소를 선택한다 
   모든페이지에 공통 적용되는 속성 설정할 때 사용
   일반적으로 브라우저의 기본 스타일을 제거할 때 사용
*/
*{
    margin: 0;  /*요소의 바깥쪽공백*/
    padding: 0; /*요소의 안쪽 공백*/
    color: grey; /*표시 색을 회색으로*/
}